@page
@model LoginWith2faModel
@{
    ViewData["Title"] = "Двухфакторная аутентификация";
}

<h2>@ViewData["Title"]</h2>
<hr />
<p>Ваш логин защищен приложением-аутентификатором. Введите свой код аутентификации ниже.</p>
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-route-returnUrl="@Model.ReturnUrl">
            <input asp-for="RememberMe" type="hidden" />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.TwoFactorCode"></label>
                <input asp-for="Input.TwoFactorCode" class="form-control" autocomplete="off" />
                <span asp-validation-for="Input.TwoFactorCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label asp-for="Input.RememberMachine">
                        <input asp-for="Input.RememberMachine" />
                        @Html.DisplayNameFor(m => m.Input.RememberMachine)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default">Авторизоваться</button>
            </div>
        </form>
    </div>
</div>
<p>
    У вас нет доступа к вашему устройству аутентификации? Ты можешь
    <a asp-page="./LoginWithRecoveryCode" asp-route-returnUrl="@Model.ReturnUrl">войдите в систему с кодом восстановления</a>.
</p>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}