@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Ошбика.</h1>
<h2 class="text-danger">При обработке вашего запроса произошла ошибка.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>ID запроса:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Режим разработчика</h3>
<p>
    Замена на<strong>Разработка</strong> среда отобразит более подробную информацию о возникшей ошибке.
</p>
<p>
    <strong>Среда разработки не должна быть включена в развернутых приложениях</strong>, поскольку это может привести к отображению конфиденциальной информации из исключений конечным пользователям. Для локальной отладки среду разработки можно включить, установив <strong>ASPNETCORE_ENVIRONMENT</strong> переменная среды для <strong>Разработка</strong>, и перезапуск приложения.
</p>
